    <div id="menuradio" >
        <h2> Create a New Student Or Instructor? </h2>
            <form action="/questions" method="POST">
            <p>
            <label for="SorI">Student</label>
            <input type="radio" name="SorI" value="Student" />
            </p>
            <p>
            <label for="SorI">Instructor</label>
            <input type="radio" name="SorI" value="Instructor" />
            </p>
 
            <input value="Create" type="submit" />
       
    </div>

