<html> 
<head>
  <title>
    General Assembly Directory
  </title>
  <link rel="stylesheet" href="css/main.css">
  <head>


    <body>
      <h1>
       General Assembly Directory
     </h1>

    
  
     <div id ="addressbook">
      <div id ="database">
        <h3>Directory</h3>
         <% Person.all.reverse.each do |elem| %>
         <table>
          <tr>
            <td>
              <%= elem %>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
      <div id="content">
        <%= yield %>
      </div>
    </div>




  </body>
  </html>