
 
<div id="results">
<!-- 
<table>
<tr>
<th>Student or Instructor</th>
<th>Name</th>
<th>Email</th>
<th>Reason for joining</th>
</tr>
<tr>
<td><%= instructor.class.to_s %></td>
<td><%= instructor.name %></td>
<td><%= instructor.email %></td>
<td><%= instructor.iq.to_s %></td>
</tr>
</table> -->
</div>


</div>

