


<div id="results">

<table>
<tr>
<th>Student or Instructor</th>
<th>Name</th>
<th>Email</th>
<th>Reason for joining</th>
</tr>
<tr>
<td><%= @student.class.to_s %></td>
<td><%= @student.name %></td>
<td><%= @student.email %></td>
<td><%= @student.reason_for_joining %></td>
</tr>
</table>

</div>

</div>

