
  
<p>
</p>

<h1>

</h1>
    <div id="menu" >
      
            <form action="/outputstudent" method="POST">
            <label for="name">Name:</label>
            <input type="text" name="name" /> 
            <label for="email">email:</label>
            <input type="text" name="email" /> 
            <label for="reason">Reason for Joining:</label>
            <input type="text" name="reason" />
            <input type="submit" />
       
    </div>

