
  
<p>
</p>

<h1>

</h1>
    <div id="menu" >
      
            <div id="questions">
            <form action="/outputstudent" method="POST">
            <p>
            <label for="name">Name:</label>
            <input type="text" name="name" size=39 align: right/> 
            <p>
            </p>
            <label for="email">Email:</label>
            <input type="text" name="email" size=39 text-align: right/> 
            <p>
            </p>
            <label for="reason">Reason for Joining:</label>
             <p>
            </p>
            <input type="text" name="reason" size=50/>
            <p>
            </p>
            <div id="button">
            <input type="submit"/>
        </div>
        </div>
       
    </div>

